/*********************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

.home {
    min-height: 80vh;
}

.title_page{
    color: #47525E;
    font-size: 350%;
    justify-content: center;
    display: flex;
    align-items: center;
}

#judul{
    color: #47525E;
    font-size: 50%;
}

.homepage_name{
    font-size: 500%;
    line-height:0.8;
    color:#47525E;
    z-index: 1;
    margin-left: 11%;
}

.yellow_line2{
    border: 18px solid #F7CA18;
    width: 80%;
    margin-top: -4%;
    position: relative;
}

.rectangle {
    height: 99px;
    width: 15px;
    background-color:#F7CA18;
    position: relative;
}

.text_size{
    width: 52%;
}

.self-pic img{
    border-radius: 50%;
    width: 50%;
}

.personalinfo{
    min-height: 100vh;
}

.comp-items{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.details{
    font-family: href="https://fonts.google.com/specimen/Roboto";
    margin: 2%;
    font-size: 100%; 
}
.exp-text{
    font-size: 97%;
}

.contact img{
    width:10%;
}

@media (max-width: 767.98px) {

    .self-pic {
        order: 1;
    }

    .name {
        order: 2;
    }

}