{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    <title>Document</title>
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav justify-content-center w-100">
      <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'info' %}">Experience</a>
      <a class="nav-item nav-link" href="{% url 'playlist' %}">Playlist</a>
      <a class="nav-item nav-link" href="{% url 'schedule' %}">Schedule</a>
    </div>
  </div>
</nav>    

    {% block content %}{% endblock %}

    {% block js %}{% endblock %}
</body>
</html>