{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>404</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<!-- Header -->
    <div id="header">
        <hr class="yellow_line1" id="header">    
        <div id="header_title">
            <p class="title_page">
                <strong>404 |</strong><span id='judul'> Not Found. </span>
            </p>
        </div>
    </div>
<!-- Icon -->
<div class="error-png">
    <img style="width:25%" src="{% static 'css/404-error.png' %}">
    <p style="font-size: 300%">
        Page Not Found.
    </p>
</div>

{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}