{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>Intan Fadilla A. | About</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}
   
    

{% block content %}
<!-- Header -->
<div class="columns">
    <div class="column" id="header_title">
        <div class="title_page">
            <strong>02 |</strong><span id='judul'> About. </span>
        </div>
    </div>
    <div class="column is-four-fifths" id="header">
            <hr class="yellow_line1" id="header">
    </div>
</div>


    <p class="hed has-text-weight-bold is-italic">Short Story</p>
<div class="columns is-desktop page3" style="margin:4%">
    <div class="column pospos">
        <p class="par-page3 has-text-centered has-text-weight-semibold">
            Intan was born in September, 2000.<br>
            Becoming a programmer was her dream since she was in junior high school. 
            She started to learn programming at the age of 15, pascal was her first programming language. 
            Later, she found it fun to learn statistic.
            Years passed and she finally succeed to be a Computer Science student at Faculty of Computer Science,
            University of Indonesia.
            And now she is fighting, going thru college life to pursue her dream to be a Data Analyst.
        </p>
    </div>

    <div class="column pospos2">
        <div class="interest-pos">
            <img style="margin-right:3%" src="{% static 'img/animals.png' %}">
            <p class="interest-par">
                Cats are really interesting. They are cute, smart but lazy, 
                and sometimes they're acting like a jerk. Cat stretching is Intan's weakness.
            </p>
        </div>
        <div style="margin-top:3%" class="interest-pos">
            <p class="interest-par">In 2017 she discovered Day6. Day6 is a korean band. Yeah korean, 
                but not like those korean bois that came in your mind.
                Not gonna tell you more about them because i know you guys arent interested.
            </p>
            <img style="width:50px; height:50px"src="{% static 'img/electric-guitar.png' %}">
        </div>
        <div style="margin-top:3%" class="interest-pos">
            <img style="margin-right:3%" src="{% static 'img/game.png' %}">
            <p class="interest-par">Intan didn't really enjoy PC games until she met her college 
                friends who introduced her to Apex Legends. Months later she got invited to play 
                Minecraft, and here she is, struggling to hold her desire to play games in this deadly term.
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}