{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Intan Fadilla A. | Playlist</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/master.css' %}">
{% endblock %}

{% block content %}
<div class="row d-flex flex-column align-items-center justify-content-center">
    <div>
    <p class="col text-center">
        This page contains songs i currently listen to.<br>
        :D
    </p>
    </div>

    <iframe src="https://open.spotify.com/embed/user/8yb38k8c71r7fssk7hl2kyheo/playlist/0RJedhHkzZbb74DnazEPeX" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

</div>
<!--
    <div class="row w-100">
        <div class="col title_page">
            <strong>02 |</strong><span id='judul' class="ml-4"> Playlist. </span>
        </div>
    </div>
    -->
{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}