{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Intan Fadilla A. | Contact</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<!-- Header -->
<div class="columns">
    <div class="column" id="header_title">
        <div class="title_page">
            <strong>03 |</strong><span id='judul'> Contact. </span>
        </div>
    </div>
    <div class="column is-four-fifths" id="header">
            <hr class="yellow_line1" id="header">
    </div>
</div>
<!-- Sosmed Icons -->
<div class="page4-content">
    <div class="contact">
        <p>
            <strong></strong>Contact:</strong>
        </p>
    </div>
    <div class="contact-pos">
        <div class="hor-pos">
            <a class="icon" href="mailto:fadintan@gmail.com">
                <img class="is-rounded is100" src="{% static 'img/google-plus.png' %}">
            </a>

            <a class="icon" href="https://linkedin.com/in/intan-fadilla-andyani/">
                <img class="is-rounded is100" src="{% static 'img/linkedin.png' %}">
            </a>

            <a class="icon" href="https://facebook.com/9000sarc">
                <img class="is-rounded is100" src="{% static 'img/facebook.png' %}">
            </a>
        </div>
        <div class="hor-pos">
            <a class="icon" href="#">
                <img class="is-rounded is100" src="{% static 'img/line.png' %}">
            </a>

            <a class="icon" href="https://instagram.com/intanandyani">
                <img class="is-rounded is100" src="{% static 'img/instagram.png' %}">
            </a>
            <a class="icon" href="https://twitter.com/intaandyani">
                <img class="is-rounded is100" src="{% static 'img/twitter.png' %}">
            </a>        
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}