{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Intan Fadilla A. | Home</title>
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/master.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid home flex-column d-flex justify-content-center align-items-center"> 
    <div class="row align-items-center justify-content-center flex-md-row flex-column">
        <div class="col-7 d-flex flex-column w-100 name">
            <p class="homepage_name">
                <strong>INTAN<br>FADILLA<br>ANDYANI</strong>
            </p>
            <hr class="yellow_line2" id="header"> 
        </div>
        <div class="self-pic col-5 w-100">
            <img src="{% static 'img/ifa.jpg' %}">
        </div>
    </div>
    <div class="row w-100">
        <div class="col d-flex" style="margin-left: 6%;">
            <div class="rectangle mx-3"></div>
            <p class="text_size mt-4">
                a Computer Science Student who is interested in Data 
                Analysis, also enjoys Rock and Classical musics so much.
            </p>
        </div>
    </div>


</section>
{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}