{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Intan Fadilla A. | Personal Info</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/master.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid home h-100 flex-column flex-lg-row"> 
    <div class="row w-10">
        <div class="col-3 d-flex justify-content-center">
            <h2>Education</h2>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <h2>Experiences</h2>
        </div>
        <div class="col-3 d-flex align-items-center">
            <h2>Competencies</h2>
        </div>
    </div>
<div class="row">
    <div class="col-3 d-flex flex-column justify-content-center">
        <p class="text-right">
            <span style="font-size:130%"><strong>SMA Negeri 1 Depok</strong></span><br>
            <span style="font-size:110%">High School Diploma<br></span>Natural Sciences<br>
            <span style="font-size:70%">2015 - 2018<br></span>
            <span style="font-size:70%">Depok, West Java.</span>
        </p>

        <p class="text-right" style="margin-top:20%">
            <span style="font-size:130%"><strong>University of Indonesia</strong></span><br>
            <span style="font-size:110%">Bachelor's Degree<br></span>Computer Science<br>
            <span style="font-size:70%">2018 - Present<br></span>
            <span style="font-size:70%">Depok, West Java.</span>
        </p>
    </div>
    
    <div class="col-6 d-flex flex-column justify-content-center">
                <p class="exp-text">
                    <span style="font-size: 100%"><strong>3rd Winner of Statistic Competition IPB | November 2017</strong></span><br>
                    Reached the third winner of nation-wide "Kompetisi Statistika Junior,
                    Pesta Sains Nasional IPB 2017" held by Faculty of Mathematics 
                    and Natural Sciences IPB.<br>
                    <span style="font-size: 100%"><strong>Finalist of Statistic Competition ITS | February 2018</strong></span><br>
                    Became the 1st winner in elimination round (Bogor Region) and became a finalist of
                    nation-wide "Statistic Competition (STATION), Pekan Raya Statistika ITS 2018"
                    held by Faculty of Mathematics, Computation, and Data Science ITS.<br>
                    <span style="font-size: 100%"><strong>Junior Member of RISTEK, Data Science SIG  | 2019</strong></span><br>
                    RISTEK is  an independent organization operated by the students of Faculty of 
                    Computer Science Universitas Indonesia that is aimed to cultivate students’
                    interests in the fields of science and technology.<br>
                    <span style="font-size: 100%"><strong>Computer Science 101 Mentor, Summer Club Generation Girl | July, 2019</strong></span><br>
                    Generation Girl is a non-profit organization aimed at introducing young girls 
                    to the STEM (Science, Technology, Engineering, and Math) fields through fun,
                    educational Holiday Clubs.
                </p>
    </div>

    <div class="col-3 d-flex flex-column justify-content-center">
        <div class="comp-items">
            <img style="width:15%" src="{% static 'img/python.png' %}">
            <p class="details">Python</p>
        </div>
        <div class="comp-items">
            <img style="width:15%" src="{% static 'img/java.png' %}">
            <p class="details">Java</p>
        </div>
        <div class="comp-items">
            <img style="width:15%" src="{% static 'img/html5.png' %}">
            <p class="details">HTML5</p>
        </div>
        <div class="comp-items">
            <img style="width:15%" src="{% static 'img/css-3.png' %}">
            <p class="details">CSS</p>
        </div>
        <div class="comp-items">
            <img style="width:15%" src="{% static 'img/illustrator.png' %}">
            <p class="details">Adobe Illustrator</p>
        </div>
        <div class="comp-items">
            <img style="width:15%" src="{% static 'img/photoshop.png' %}">
            <p class="details">Adobe Photoshop</p>
        </div>

    </div>

</div>
<!--
    <div class="row w-100">
        <div class="col title_page">
            <strong>01 |</strong><span id='judul' class="ml-4"> Info. </span>
        </div>
    </div>
-->
</section>
{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}