{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Intan Fadilla A. | Schedule</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/master.css' %}">
{% endblock %}

{% block content %}

<h2 class="d-flex justify-content-center"><strong>SCHEDULE</strong></h2>
<div class="row w-100">
    <div class="col-6" style="margin-left: 3%">
    <form class="d-flex flex-column my-2 w-90" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
        {% endfor %}
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    <div class="col-5">
        <section id="schedule">
            <div>
                {% for i in schedule %}
                <hr>
                <div class="row bg-white m-auto p-3">
                    <div class="col-12 d-flex justify-content-center" style="font-size:200%"><strong>{{ i.subject }}</strong></div>
                    <div class="col-sm-5 mt-2"><h5><strong>Activity</strong></h5></div>
                    <div class="col-sm-7 mt-2">{{ i.activity }}</div>
                    
                    <div class="col-sm-5"><h5><strong>Category</strong></h5></div>
                    <div class="col-sm-7">{{ i.category }}</div>
                    <div class="col-sm-5"><h5><strong>Place</strong></h5></div>
                    <div class="col-sm-7">{{ i.place }}</div>
                    <div class="col-sm-5"><h5><strong>Day</strong></h5></div>
                    <div class="col-sm-7">{{ i.day }}</div>
                    <div class="col-sm-5"><h5><strong>Date</strong></h5></div>
                    <div class="col-sm-7">{{ i.date }}</div>
                    <div class="col-sm-5"><h5><strong>Time</strong></h5></div>
                    <div class="col-sm-7">{{ i.time }}</div>
                    <div class="col-sm-12 d-flex align-items-end justify-content-end">
                        <form method="POST" action="{% url 'schedule' %}">
                            {% csrf_token %}
                            <input name="id" value="{{i.id}}" type="hidden">
                            <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
                        </form>          
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block js %}
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}